{% extends 'base.html' %}

{% block title %} Entrar {% endblock %}

{% block content %}
<section>
    <div>
        <br>
        <div class="row">
            <h1>Login</h1>
            <hr>
            <div class="col-md-6">
                <form method="POST">
                {{ form.hidden_tag() }}
                    <p class="input-group">
                        {{ form.email.label (class="input-group-text")}}
                        {{ form.email (class="form-control")}}
                    </p>
                    <p class="input-group">
                        {{ form.password.label (class="input-group-text")}}
                        {{ form.password (class="form-control")}}
                    <p>
                    {{ form.submit (class="btn btn-dark")}}
            </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}